In [1]:
import numpy as np
import pandas as pd

In [2]:
movie = pd.read_csv('movie.csv')

In [5]:
# returns first five columns 
movie.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [7]:
# checking out count and mean std min ect and counts returns non null value
movie.describe()

,year,duration,director_fb,actor1_fb,actor2_fb,actor3_fb,gross,num_reviews,num_voted_users,budget,imdb_score
count,4810.000000,4901.000000,4814.000000,4909.000000,4903.000000,4893.000000,4.054000e+03,4867.000000,4.916000e+03,4.432000e+03,4916.000000
mean,2002.447609,107.090798,691.014541,6494.488491,1621.923516,631.276313,4.764451e+07,137.988905,8.264492e+04,3.654749e+07,6.437429
std,12.453977,25.286015,2832.954125,15106.986884,4011.299523,1625.874802,6.737255e+07,120.239379,1.383222e+05,1.002427e+08,1.127802
min,1916.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.620000e+02,1.000000,5.000000e+00,2.180000e+02,1.600000
25%,1999.000000,93.000000,7.000000,607.000000,277.000000,132.000000,5.019656e+06,49.000000,8.361750e+03,6.000000e+06,5.800000
50%,2005.000000,103.000000,48.000000,982.000000,593.000000,366.000000,2.504396e+07,108.000000,3.313250e+04,1.985000e+07,6.600000
75%,2011.000000,118.000000,189.750000,11000.000000,912.000000,633.000000,6.110841e+07,191.000000,9.377275e+04,4.300000e+07,7.200000
max,2016.000000,511.000000,23000.000000,640000.000000,137000.000000,23000.000000,7.605058e+08,813.000000,1.689764e+06,4.200000e+09,9.500000

In [9]:
# 4916 rows
len(movie)

4916

In [33]:
# is there null value count and see that title,genres, num_voted_users and imdb_score has no missing value
# and NAN is considered as float
movie.isnull().sum()

title                0
year               106
color               19
content_rating     300
duration            15
director_name      102
director_fb        102
actor1               7
actor1_fb            7
actor2              13
actor2_fb           13
actor3              23
actor3_fb           23
gross              862
genres               0
num_reviews         49
num_voted_users      0
plot_keywords      152
language            12
country              5
budget             484
imdb_score           0
dtype: int64

In [34]:
# checking columns 
movie.columns

Index(['title', 'year', 'color', 'content_rating', 'duration', 'director_name',
       'director_fb', 'actor1', 'actor1_fb', 'actor2', 'actor2_fb', 'actor3',
       'actor3_fb', 'gross', 'genres', 'num_reviews', 'num_voted_users',
       'plot_keywords', 'language', 'country', 'budget', 'imdb_score'],
      dtype='object')

In [35]:
# getting series for movie year and it says float 
movie.year.head()

0    2009.0
1    2007.0
2    2015.0
3    2012.0
4       NaN
Name: year, dtype: float64

In [38]:
# changing year to datetime format and Nan becomes NAT for datetime
movie['year'] = pd.to_datetime(movie['year'])

In [39]:
movie.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,1970-01-01 00:00:00.000002009,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,1970-01-01 00:00:00.000002007,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,1970-01-01 00:00:00.000002015,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,1970-01-01 00:00:00.000002012,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaT,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1